<header id="main-header" [ngClass]="{'header-fixed': isFixed}">
    <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
        <div class="header-mobile-top" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="home-logo mr-1">
                <a href="/">
                    <img src="assets/images/logo-blue.png" alt="Band Central" class="logo-wordmark">
                </a>
            </div>
            <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
        </div>

        <div fxFlex fxLayoutAlign="end" class="top-menu">

            <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="intro-one-section" (click)="toggleMenu()"><strong>Home</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="feature-section" (click)="toggleMenu()"><strong>Features</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" scrollTo="pricings-section" (click)="toggleMenu()"><strong>Pricings</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" (click)="navigateToContact()"><strong>Contact</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" (click)="navigateToHelp()"><strong>Help</strong></button>
        </div>
    </div>
</header>