<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content class="card-content">
          <mat-toolbar  >
            <button mat-icon-button aria-label="Back to Accounts" (click)="onBackToAccounts()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <div class="header-container">
              <h2 style="float: left;">{{currentAccountImport?.username}}</h2><span style="float: left;margin-left: 15px;">{{ this.currentAccountImportDate }}</span>
            </div>
            <span class="spacer"></span>
          </mat-toolbar>
          <div class="spinner-container" *ngIf="loading">
            <mat-spinner>
            </mat-spinner>
          </div>
          <div class="table-container" *ngIf="!loading">
            <table mat-table [dataSource]="dataSource" matSort class="import-table">
              <!-- Event Type Column -->
              <ng-container matColumnDef="eventType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Event Type </th>
                <td mat-cell *matCellDef="let element"> {{element.eventType}} </td>
              </ng-container>
  
              <!-- Message Column -->
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Message </th>
                <td mat-cell *matCellDef="let element"> {{element.message}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
              <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>