<section id="intro-one-section" class="home-intro-section primary-bg">
    <div class="container" fxLayout="row wrap">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <h1 class="home-intro-title">Organize your songs and lyrics. Share them with others.</h1>
            <div class="home-intro-desc">
                Create a repertoire of songs that you can organize and share with your band. Add members to your group and each person can create their own lyrics. 
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <button mat-raised-button mat-lg-button id="frontend-btn" [routerLink]="['/auth/login']">Login</button>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="intro-product">
                <img mat-card-image src="assets/images/main.png" [style.margin]="'0 !important'">
            </div>
        </div>
    </div>
</section>
<section id="feature-section"  class="gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Features that support all musicians.</h2>
                <p class="lead w-60">Designed for Worship groups, Touring bands, Weekend warriors, Duos, and solo artists to organize their songs and lyrics for live performace. </p>
            </div>
        </div>
        <div fxLayout="row wrap" class="text-center featured-section">
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">groups_2</i>
                <h4 class="mb-2">Bands</h4>
                <p> Easily add or remove members to your Worship group, band, or duo. Each member can create their own version of lyrics. </p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">lyrics</i>
                <h4 class="mb-2">Lyrics</h4>
                <p>Easily add and modify your lyrics using the standard Chord Pro format. Create multiple versions of lyrics that you can  transpose and auto-scroll. </p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">queue_music</i>
                <h4 class="mb-2">Setlists</h4>
                <p>Group your songs into Setlists. Easily organize your songs by using drag and drop. View the song count and total time of your setist. Add set breaks that will show you the song count and time of the set.</p>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="feature-item">
                <i class="material-icons">
mobile_friendly
</i>
                <h4 class="mb-2">Mobile Friendly</h4>
                <p>Band Central transforms the view to accomidate any screen size while maintaining full features.</p>
            </div>
        </div>
        <div class="row align-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 more_info_anim6 animated fadeInUp">
                <img src="assets/images/product.png" alt="">
            </div>
        </div>
    </div>
</section>