table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.spacer {
    flex: 1 1 auto;
}

.card-content {
    height: calc(100vh - 116px);
}

.table-container {
    max-height: calc(100vh - 174px);
    overflow: auto;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 4px;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-mdc-row {
    cursor: default;
}

.spacer {
    flex: 1 1 auto;
}

.subtitle {
    padding-right: 10px;
}

.setbreak{
    background-color: whitesmoke;
}