
.card-wrapper {
  margin: 0px 0px -12px 16px !important;
  overflow-x: hidden;
}
.single-cards {
  margin: 20px 0;
}

.single-card .mat-card-avatar {
  width: 50px;
  height: 50px;
}

.single-card .mat-icon {
  font-size: 55px;
}

.projects-card>mat-card-content {
  max-height: 400px;
  overflow: auto;
}

::ng-deep .mat-card-header-text {
  /* CSS styles go here */
  margin: 0px !important; 
}

.account-card{
  cursor: pointer;
  max-width: 400px;
}

.padding-right{
  padding-right: 10px;
}