<div class="container" fxLayoutGap="10px grid" fxLayout="row" fxLayoutAlign="center none" >
  <!-- Mobile view -->
  <div fxFlex="100%" fxHide fxShow.lt-md>
    <mat-card>
      <mat-side-nav fxHide fxShow.lt-md>
        <mat-toolbar>
          @if(!showFind && !showRemove){
          <button mat-button aria-label="Add Setlist" aria-label="Add Setlist" (click)="onAddSetlist()">
            <mat-icon>add</mat-icon>
            <span fxShow fxHide.xs>
              Add
            </span>
          </button>
          <button mat-button aria-label="Remove Setlist" (click)="onEnableDeleteMode()">
            <mat-icon>delete</mat-icon>
            <span fxShow fxHide.xs>Delete</span>
          </button>
          <span class="spacer"></span>
          <button mat-icon-button aria-label="Find Song" aria-label="Find Song" (click)="onShowFind()">
            <mat-icon>search</mat-icon>
          </button>
          }
          @if(showRemove){
            <button mat-icon-button aria-label="Stop Find Song" (click)="onEnableDeleteMode()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          }
          @if(showFind){
            <button mat-icon-button aria-label="Stop Find Song" (click)="onShowFind()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="spacer"></span>
            <form class="search-form">
              <mat-form-field class="search-field" appearance="outline" subscriptSizing="dynamic">
                <mat-label>Search</mat-label>
                <input type="text" matInput (keyup)="search(inputSearch.value)" #inputSearch autofocus placeholder="Search">
              </mat-form-field>
            </form>
          }
        </mat-toolbar>
        <div class="mobile-card-container">
          <mat-card-content *ngFor="let setlist of filteredSetlists" (click)="onViewSetlistSongs($event, setlist)">
            <div class="py-12 px-1 b-b-1">
              <div class="flex align-items-center w-100">
                <div class="w-100">
                  <p><b>{{setlist.name}}</b></p>
                  <p>{{setlist.gigLocation}} {{ getSetlistDateInSeconds(setlist) | date:'MM/dd/yyyy h:mm a'}}</p>
                </div>
                <div class="w-100">
                  <div class="flex justify-content-end mr-1">
                    @if(!showRemove){
                      <button mat-icon-button aria-label="Edit Setlist" (click)="$event.stopPropagation(); onEditSetlist($event, setlist);">
                        <mat-icon>edit</mat-icon>
                      </button>
                    }
                    @else{
                      <button mat-icon-button aria-label="Edit Setlist" (click)="$event.stopPropagation(); onRemoveSetlist($event, setlist)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    }
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </div>
      </mat-side-nav>
    </mat-card>
  </div>
  <!-- desktop view -->
  <div fxFlex="49%" fxHide fxShow.gt-sm>
    <mat-card>
      <mat-card-content class="card-content"> 
        <mat-toolbar>
          @if(!showRemove){
          <button
            mat-button
            aria-label="Add Setlist"
            (click)="onAddSetlist()"
          >
            <mat-icon>add</mat-icon>
            <span>Add</span>
          </button>
          <button mat-button aria-label="Remove Setlist" (click)="onEnableDeleteMode()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          } @else {
          <button mat-icon-button aria-label="Stop Remove Setlist" (click)="onEnableDeleteMode()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          }
          <span class="spacer"></span>
          <form class="search-form">
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>Search</mat-label>
              <input type="text" matInput 
                     placeholder="Search">
            </mat-form-field>
          </form>
        </mat-toolbar>
        <div class="table-container">
          <table mat-table [dataSource]="dataSource" matSort class="setlist-table">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Gig Location Column -->
            <ng-container matColumnDef="gigLocation">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Gig Location
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.gigLocation }}
              </td>
            </ng-container>

            <!-- Gig Location Column -->
            <ng-container matColumnDef="gigDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Gig Date
              </th>
              <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.gigDate">
                {{  element.gigDate?.seconds * 1000 | date:'MM/dd/yyyy h:mm a' }}
                </ng-container>
              </td>
            </ng-container>
            <ng-container matColumnDef="setlistedit">
              <th mat-header-cell *matHeaderCellDef>Details</th>
              <td mat-cell *matCellDef="let element">
                <a title="Arrange the Setlist Songs."
                 href="#" (click)="onViewSetlistSongs($event, element)" >View</a> | 
                <a title="Edit the Setlist."
                 href="#" (click)="onEditSetlist($event, element)" >Edit</a>
              </td>
            </ng-container>

            <ng-container matColumnDef="remove">
              <th mat-header-cell [hidden]="!showRemove" *matHeaderCellDef>
                Remove
              </th>
              <td mat-cell [hidden]="!showRemove" *matCellDef="let element">
                <a href="#" (click)="onRemoveSetlist($event, element)"><mat-icon>delete</mat-icon></a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              title="Double click the row to view the Setlist Songs."
              (dblclick)="onViewSetlistSongs($event, row)"
              [ngClass]="{'selected': selectedSetlist?.id == row.id}"
              *matRowDef="let row; columns: displayedColumns"
              class="setlist-row"
              (click)="selectRow(row)"
            ></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Setlist Songs Grid -->
  <div fxFlex="49%" fxHide fxShow.gt-sm>
    <mat-toolbar>
      <div class="header-container">
        <h2 style="float: left;">{{selectedSetlist?.name}}</h2><span style="float: left;margin-left: 15px;">{{selectedSetlist?.gigLocation}}</span>
      </div>
      <span class="spacer"></span>
      <button
        mat-icon-button
        aria-label="Edit Setlist Songs"
        title="Edit Setlist Songs"
        (click)="onViewSetlistSongs($event, selectedSetlist)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Edit Setlist Songs"
        title="Edit Setlist Songs"
        (click)="onPrintSetlist()"
      >
        <mat-icon>print</mat-icon>
      </button>
    </mat-toolbar>
    
    <mat-card>
      <mat-card-content class="setlist-songs-static">
        <ol>
          <li *ngFor="let song of setlistSongs; index as i;" [ngClass]="{'break': song.isBreak === true}" [value]="song.sequenceNumber">
            <div>
            {{song.name}}
            </div>
            <div>
              {{song.artist}}
            </div>
          </li>
        </ol>  
      </mat-card-content>
    </mat-card>
  </div>
</div>
