<div class="container" fxLayoutGap="5px grid" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="100%" fxfill fxlayout="column" fxShow>
        <mat-toolbar>
            @if(showRemove) {
            <button mat-button aria-label="Stop Remove Song" (click)="onEnableDeleteMode()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            }
            @if(!showFind && !showRemove){
            <button mat-icon-button aria-label="Back to Song List" (click)="onBackButtonPressed()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <div class="header-container">
                <h2 style="float: left;">{{selectedTag.name}}</h2>
            </div>
            <span class="spacer"></span>
            <button mat-button title="Add Songs to Tags" aria-label="Add Songs to Tags" (click)="onAddFromCatalog()">
                <mat-icon>add</mat-icon>
                <span fxShow fxHide.xs>
                    Add
                </span>
            </button>
            <button mat-icon-button aria-label="Find Song" aria-label="Find Song" (click)="onShowFind()">
                <mat-icon>search</mat-icon>
            </button>
            }
            @if(showFind){
            <button mat-icon-button aria-label="Stop Find Song" (click)="onShowFind()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="spacer"></span>
            <form class="search-form">
                <mat-form-field class="search-field" appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Search</mat-label>
                    <input type="text" matInput (keyup)="search(inputSearch.value)" #inputSearch autofocus
                        placeholder="Search">
                </mat-form-field>
            </form>
            }
        </mat-toolbar>
        <div id="tag-songs-mobile-container" class="mobile-card-container">
            <mat-card-content *ngFor="let song of filteredSongs" (click)="onViewLyrics($event, song)" [id]="song.id">
                <div class="py-12 px-1 b-b-1">
                    <div class="flex align-items-center w-100">
                        <div class="w-85">
                            <p><b>{{song.name}}</b></p>
                            <p>{{songService.getSongDetails(song)}}</p>
                        </div>
                        <div class="w-15">
                            <div class="flex justify-content-end mr-1">
                                @if(!showRemove){
                                <button mat-icon-button aria-label="Edit Song"
                                    (click)="$event.stopPropagation(); onEditSong(song);">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                }
                                @else{
                                <button mat-icon-button aria-label="Edit Song"
                                    (click)="$event.stopPropagation(); onRemoveTagFromSong($event, song)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </div>
</div>