.selected-row {
    background-color: rgba(0, 0, 0, 0.075);
    font-weight: bold;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.spacer {
    flex: 1 1 auto;
}

.card-content {
    height: calc(100vh - 116px);
}

.table-container {
    max-height: calc(100vh - 174px);
    overflow: auto;
}

.mat-mdc-row {
    cursor: default;
}

.spacer {
    flex: 1 1 auto;
}

.subtitle {
    padding-right: 10px;
}

.setbreak{
    background-color: whitesmoke;
}

.mobile-card-container {
    height: calc(100vh - 54px);
    overflow-y: scroll;
}

.empty-grid-text{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.more-column {
    width: 10% !important;
}

.menu-trigger {
    display: none;
}