<div class="container" fxLayoutGap="10px grid" fxLayout="row" fxLayoutAlign="center none" >
    <div fxFlex="100%">
        <mat-toolbar id="print-toolbar">
          <button mat-icon-button aria-label="Back to Song List" (click)="onBackToSetlist()">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Print Setlist"
            title="Print Lyrics"
            (click)="onPrintSetlist()"
          >
            <mat-icon>print</mat-icon>
          </button>
          <div class="vl"></div>

          <mat-button-toggle-group 
            name="fontStyle" 
            [(value)]="this.columns"
            [hideSingleSelectionIndicator]="true"
            aria-label="Print Columns"
            #toggleFontStyle="matButtonToggleGroup">
            <mat-button-toggle 
              [value]="PrintColumns.one"  
              aria-label="One Column"
              title="One Column"  
              (change)="onChangePrintColumn(PrintColumns.one)"
              >
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Zm-20 200h80v-400H380v80h80v320Z"/></svg>
            </mat-button-toggle>
            <mat-button-toggle 
              [value]="PrintColumns.two"
              aria-label="Two Columns"
              title="Two Columns"
              (change)="onChangePrintColumn(PrintColumns.two)"
              >
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320ZM360-280h240v-80H440v-80h80q33 0 56.5-23.5T600-520v-80q0-33-23.5-56.5T520-680H360v80h160v80h-80q-33 0-56.5 23.5T360-440v160Z"/></svg>
            </mat-button-toggle>
          </mat-button-toggle-group>

          
          <div class="vl"></div>
          <button
          mat-icon-button
          aria-label="Hide or Show Setlist elements"
          title="Hide or Show Setlist elements"
          (click)="onSetVisibleElements()"
        >
          <mat-icon>visibility</mat-icon>
        </button>
          
        </mat-toolbar>
        
        <div id="lyrics">
          <div class="lyrics-static page">
            <div id="lyric-section" fxShowclass="lyric-section" #lyricSection *ngIf="lyrics" [innerHtml]="parsedLyric ?? '' | safeHtml"></div>
          </div>
        </div>
      </div>
</div>