#lyrics{
  height: calc(100vh - 200px);
  width: 99.5%;
}

#lyrics-mobile{
  height: calc(100vh - 70px);
  width: 99.5%;
}

.lyrics-view{
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}