<div fxLayout="row">
  <div fxFlex="98%" fxShow fxHide.lt-md>
    <mat-card>
      <mat-card-content class="lyrics-view">
        <mat-toolbar>
          <button mat-icon-button aria-label="Back to Lyrics" (click)="onCancel()">
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
          <button mat-icon-button aria-label="Save" (click)="onSaveSong()">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-button [matMenuTriggerFor]="insertMenu" aria-label="Insert ChordPro">
            <mat-icon>add_circle</mat-icon>
            <span>Insert</span>
          </button>
          <span class="spacer"></span>
        </mat-toolbar>
        <form class="dialog-form" [formGroup]="lyricsForm">
          <textarea id="lyrics" formControlName="lyrics"></textarea>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="100%" fxShow fxHide.gt-sm fxFlex="100%">
    <mat-toolbar>
      <button mat-icon-button aria-label="Back to Lyrics without saving" (click)="onCancel()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button mat-icon-button aria-label="Save" (click)="onSaveSong()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="insertMenu" aria-label="Insert ChordPro">
        <mat-icon>add_circle</mat-icon>
        <span>Insert</span>
      </button>
      <span class="spacer"></span>
    </mat-toolbar>
    <form class="dialog-form" [formGroup]="lyricsForm">
      <textarea id="lyrics-mobile" formControlName="lyrics"></textarea>
    </form>
  </div>
</div>

<mat-menu #insertMenu="matMenu">
  <button mat-menu-item (click)="insertChordProText('[]', 1)">
    <mat-icon>music_note</mat-icon>
    <span>Insert Chord</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="insertChordProText('[Verse 1]', 9)">
    <mat-icon>format_align_left</mat-icon>
    <span>Verse</span>
  </button>
  <button mat-menu-item (click)="insertChordProText('[Chorus]', 8)">
    <mat-icon>format_align_left</mat-icon>
    <span>Chorus</span>
  </button>
  <button mat-menu-item (click)="insertChordProText('[Bridge]', 8)">
    <mat-icon>format_align_left</mat-icon>
    <span>Bridge</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="insertTitle()">
    <mat-icon>title</mat-icon>
    <span>Title</span>
  </button>
  <button mat-menu-item (click)="insertArtist()">
    <mat-icon>person</mat-icon>
    <span>Artist Name</span>
  </button>
  <button mat-menu-item (click)="insertChordProText('{comment:}', 9)">
    <mat-icon>comment</mat-icon>
    <span>Comment</span>
  </button>
  <button mat-menu-item (click)="insertKey()">
    <mat-icon>music_note</mat-icon>
    <span>Key</span>
  </button>
  <button mat-menu-item (click)="insertTempo()">
    <mat-icon>speed</mat-icon>
    <span>Tempo</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="insertChordProText('{soc}\n\n{eoc}', 5)">
    <mat-icon>rectangle</mat-icon>
    <span>Chorus Block</span>
  </button>
  <button mat-menu-item (click)="insertChordProText('{sot}\n\n{eot}', 5)">
    <mat-icon>table_chart</mat-icon>
    <span>Tab Block</span>
  </button>
  <button mat-menu-item (click)="insertChordProText('{soh}\n\n{eoh}', 5)">
    <mat-icon>highlight</mat-icon>
    <span>Highlight Block</span>
  </button>
</mat-menu>