<section id="pricings-section" class="gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5 white-color">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Prices</h2>
                <p class="lead w-60"> All prices are in USD. They include the full features of the app. This includes create multiple bands, 
                    create multiple lyrics per song, create setlists, organize your songs with tags, auto-scroll, transpose, and more. </p>
            </div>
        </div>
        <div fxLayout="row wrap">
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Solo/Duo</strong></h1>
                            <div class="text-sm text-muted">
                                <p>$ 14.99 / year</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>
                                <p> For soloists and duos </p>
                            </mat-list-item>
                        </mat-list>
                        <button mat-raised-button class="mat-accent">Buy</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Band</strong></h1>
                            <div class="text-sm text-muted">
                                <p> 29.99 / year</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>
                                <p> 1 to 5 members </p>
                            </mat-list-item>
                        </mat-list>
                        <button mat-raised-button class="mat-accent">Buy</button>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- Pricing box -->
            <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="33.33">
                <mat-card class="plan-pricing text-center p-0">
                    <mat-card-title class="accent-bg">
                        <div class="card-title-text">
                            <h1><strong>Large Band</strong></h1>
                            <div class="text-sm text-muted">
                                <p> $ 49.99 / year</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-card-title>
                    <mat-card-content>
                        <mat-list class="mb-1">
                            <mat-list-item>
                                <p> 1 to 20 members </p>
                            </mat-list-item>
                        </mat-list>
                        <button mat-raised-button class="mat-accent">Buy</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>