<div fxLayout="row" fxLayoutAlign="center none">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner>
    </mat-spinner>
  </div>
  <ng-container *ngIf="!loading">
    <div fxFlex="98%" fxShow fxHide.lt-lg>
      <mat-card>
        <mat-card-content class="lyrics-view">
          @if(shouldShowPageIcon(false)){
          <div class="lyric-nav-icon page-left-icon">
            <span class="material-symbols-outlined" (click)="onPageLeft()" >
              expand_circle_right
            </span>
          </div>
          }
          @if(shouldShowPageIcon(true)){
            <div class="lyric-nav-icon page-right-icon" (click)="onPageRight()">
              <span class="material-symbols-outlined">
                expand_circle_right
              </span>
            </div>
          }
          <app-lyrics [currentUser]="currentUser" [song]="song" [lyrics]="lyrics" [defaultLyricId]="defaultLyricId"
            [selectedLyric]="selectedLyric" [parsedLyric]="parsedLyric" [lyricFormatWithScope]="lyricFormatWithScope">
          </app-lyrics>
        </mat-card-content>
      </mat-card>
    </div>
    <div  fxFlex="100%" fxShow fxHide.gt-md
          swipe
          (next)="onPageRight()"
          (previous)="onPageLeft()"
    >
      <app-lyrics [currentUser]="currentUser" [song]="song" [lyrics]="lyrics" [defaultLyricId]="defaultLyricId"
        [selectedLyric]="selectedLyric" [parsedLyric]="parsedLyric" [lyricFormatWithScope]="lyricFormatWithScope">
      </app-lyrics>
    </div>
  </ng-container>
</div>