
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-theme-primary: mat-palette(#3f51b5);
$my-theme-accent:  mat-palette(#ff4081);



// Create the theme object (a Sass map containing all of the palettes).
$my-theme-theme: mat-light-theme($my-theme-primary, $my-theme-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.



// Create your Sass color vars (will be available in all the project)
$theme-primary: mat-color($my-theme-primary);
$theme-accent: mat-color($my-theme-accent);

